body {
  height: 100vh;
  background: hsla(259, 84%, 78%, 1);

  background: linear-gradient(
    90deg,
    hsla(259, 84%, 78%, 1) 0%,
    hsla(206, 67%, 75%, 1) 100%
  );
}
.mt__container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mt__card {
  background-color: rgba(250, 250, 250, 1);
  box-shadow: 0px 12px 14px 0px rgba(82, 86, 121, 0.5);
  border: 3px solid #ffffff;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  /* height: 300px; */
  max-width: 800px;
  width: 90vw;
  aspect-ratio: 1;
  overflow: hidden;
}

.mt__tile {
  width: 10%;
  height: 10%;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mt__tile p {
  margin: 0;
  font-weight: 700;
  color: rgb(45, 45, 45);
  font-size: 0.6rem;
}
.mt__fizz {
  background-color: hsla(259, 84%, 78%, 1);
}
.mt__buzz {
  background-color: hsla(206, 67%, 75%, 1);
}
.mt__buzz-fizz {
  background-color: #a3b2ef;
}
